body {
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}


.sketch-board  {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 496px;
    height: 496px;
    background-color: wheat;
    margin: 200px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    margin:  200px 20px;
    
}


.grid-box {
    background-color: white;
    border: 0.5px solid black;
}



.side-bar {
    height: 496px;
    width: 200px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px
}

.new-grid {
    width: 50%;
    height: 5%;
    
}

.grid-input {
    width: 50%;
    height: 5%;
}